# Pandas #

In [4]:
import pandas as pd

tup_data = ('민수', '2017-04-08', '여', True)
sr = pd.Series(tup_data, index = ['이름', '생년월일','성별','학생여부'])

# print(sr[0])
# print(sr['이름'])

print(sr[[1,2]]) # 정수형 위치 인덱스 # 여러값 인덱싱할때 짝을 이루는 인덱스와 값 모두 반환
print('\n')
print(sr[['생년월일','성별']])

생년월일    2017-04-08
성별               여
dtype: object

In [5]:
import pandas as pd 

dict_data = {'A':[1,2,3], 'B':[4,5,6], 'c':[7,8,9], 'd':[10,11,12],'e':[13,14,15]}

df = pd.DataFrame(dict_data)
print(type(df))
print('\n')
print(df)

<class 'pandas.core.frame.DataFrame'>


   A  B  c   d   e
0  1  4  7  10  13
1  2  5  8  11  14
2  3  6  9  12  15

In [10]:
df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리중']],
                   index=['준서','예은'], # 행
                   columns=['나이', '성별', '학교']) # 열

print(df)
print('\n')
print(df.index)
print('\n')
print(df.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

In [15]:
# 열 이름 중 '나이'를 연령으로, '성별'을 남녀로, '학교'를 '소속'으로 바꾸기
df.rename(columns={'나이':'연령', '성별':'남녀','학교':'소속'}, inplace=True)
df.rename(index={'준서':'학생1', '예은':'학생2'}, inplace=True) # inplace=True 옵션지정하면 df에 바로 적용

print(df)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

**행선택**

In [34]:
exam_data = {'수학': [90,80,70], '영어' : [98,89,95],
             '음악': [85,95,100], '체육': [100, 90,90]}

df = pd.DataFrame(exam_data, index=['서준','우현','인어'])
print(df)
print('\n')


#  loc은 이름으로, iloc은 숫자로 인덱싱 (행)

# label1 = df.loc['서준']
position1 = df.iloc[0]
# print(label1)
# print('\n')
print(position1)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인어  70  95  100   90


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [35]:
label2 = df.loc[['서준', '우현']]
position2 = df.iloc[[0,1]]

print(label2)
print('\n')

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

**열선택**

In [4]:
import pandas as pd

exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print(type(df))
print('\n')

math1 =df['수학']
print(math1)
print(type(math1))
print('\n')

english = df.영어
print(english)
print(type(english))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>


0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
# 열추가

df['국어'] = 80
print(df)

   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

**원소 선택**

In [43]:
# DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장
exam_data = {'이름': ['서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [98,89,95],
             '음악' : [85, 95, 100],
              '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)

# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경 사항 반영 

df.set_index('이름', inplace=True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

**범위 슬라이싱**

In [44]:
# 모든 행을 2행간격으로 선택 
df.iloc[ : : 2]

    수학  영어   음악   체육
이름
서준  90  98   85  100
인아  70  95  100   90

## 데이터 입출력
* 외부 파일 읽어오기

In [3]:
import pandas as pd

# 파일 경로 찾고, 변수에 저장
file_path = r"C:\Users\virtue\Desktop\머신러닝\read_csv_sample.csv"

# read_csv() 함수로 데이터프레임 변환. 변수 df1에 저장
df1 = pd.read_csv(file_path)
print(df1)
print('\n')

# read_csv() 함수로 데이터프레임 변환, 변수 df2에 저장
df2 = pd.read_csv(file_path, header=None)
print(df2)
print('\n')

# read_csv() 함수로 데이터프레임 변환. 변수 df3 저장. index_col=None 옵션

df3 = pd.read_csv(file_path, index_col=None)
print(df3)
print('\n')

# read_csv() 함수로 데이터프레임 변환. 변수 df4에 저장, index_col='c0' 옵션
df4 = pd.read_csv(file_path, index_col='c0')
print(df4)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9


   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

* excel 파일

In [7]:
import pandas as pd 

# read_excel() 함수로 데이터프레임 변환
df1 = pd.read_excel(r"C:\Users\virtue\Desktop\머신러닝\남북한발전전력량.xlsx")
df2 = pd.read_excel(r"C:\Users\virtue\Desktop\머신러닝\남북한발전전력량.xlsx", header=None)

# 데이터프레임 출력
print(df1)
print('\n')
print(df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -

[9 rows x 29 columns]


          0       1     2     3     4     5     6     7     8     9   ...  \
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...
1         남한      합계  1077  1186  1310  1444  1650  1847  2055  2244  ...
2        NaN      수력    64    51    49    60    41    55    52    54  ...
3        NaN      화력   484   573   696   803  1022  1122  1264  1420  ...
4        NaN     원자력   529   563   565   581   587   670   739   771  ...
5        NaN     신재생     -     -     -     -     -     -     -     -  ...
6         북한      합계   277   263   247   221   231   230   213   193  ...
7        NaN      수력   156   150   142   133   138   142   125   107  ...
8        NaN      화력   121   113   105    88    93    88    88    86  ...
9        NaN     원자력     -     -     -     -     -     -     -     -  ...

     19    20    21    22    23    24    25    26    27    28
0  2007  2008  2009  2010  2011  2012  2013  2014  2015  2016
1  4031  4224  4336  4747  4969  5096  5171  5220  5281  5404
2    50    56    56    65    78    77    84    78    58    66
3  2551  2658  2802  3196  3343  3430  3581  3427  3402  3523
4  1429  1510  1478  1486  1547  1503  1388  1564  1648  1620
5     -     -     -     -     -    86   118   151   173   195
6   236   255   235   237   211   215   221   216   190   239
7   133   141   125   134   132   135   139   130   100   128
8   103   114   110   103    79    80    82    86    90   111
9     -     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

* JSON 파일

## Folium라이브러리 - 지도활용
* 지도 만들기

In [8]:
import folium

# 서울 지도 만들기
seoul_map = folium.Map(location=[37.55,126.98], zoom_start=12)

# 지도를 HTML 파일로 저장하기
seoul_map.save('./seoul.html')

* 지도 스타일 적용하기

In [10]:
seoul_map2 = folium.Map(location=[37.55,126.98], tiles='Stamen Terrain',
                       zoom_start=12)
seoul_map3 = folium.Map(location=[37.55,126.98], tiles='Stamen Toner',
                       zoom_start=15)

# 지도를 HTML 파일로 저장
seoul_map2.save('./seoul2.html')
seoul_map3.save('./seoul3.html')

* 지도에 마커 표시하기

In [ ]:
import pandas as pd 
import folium

# 대학교 리스트를 데이터프레임 변환
df = pd.read_excel('')