In [4]:
"""
Created on Mon Oct 17 10:29:30 2022

@author: SBA13
"""

import pymysql

# 전역변수 선언부
conn, cur = None, None
data1, data2, data3, data4 = "","","",""
sql = ""

# 메인 코드
conn = pymysql.connect(host='localhost', user='root', password='1111', db='shoppingDB', \
    charset='utf8')


cur = conn.cursor()

cur.execute("INSERT INTO userTable VALUES('john', 'john Bann', 'john@naver.com', 1990)")
cur.execute("INSERT INTO userTable VALUES('kim', 'kim mike', 'kim@naver.com', 1980)")
cur.execute("INSERT INTO userTable VALUES('park', 'park minseo', 'park@naver.com', 2000)")

conn.commit()
conn.close()